@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');
body {
  font-family: "DM Serif Text", serif;
    margin: 0;
    padding: 0;
    background-color: #fdf7f7;
  }
  section, article {
    font-family: "Mitr", sans-serif;
  }
  .hero-btn {
    padding: 15px 30px;
    background-color:  rgba(255, 225, 0, 0.595);
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 1em;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .hero-btn:hover {
    background-color:#333;
  }
  section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 20px;
    text-align: center;
    margin: 20px;
  }
  section .info-box{
    margin-bottom: 70px;
  }
  .info-box {
    text-align: center;
    max-width: 300px;
  }
  .info-box img {
    width: 60px;
    margin-bottom: 20px;
  }
  .info-box h3 {
    font-size: 1.5em;
    color: #333;
  }
  .info-box p {
    font-size: 1em;
    color: #666;
  }
article {
    text-align: center;
}
section{margin-bottom: -100px;}
.button{
    text-align: center;
    margin-bottom: -50px;
}
.color {
  padding: 15px 30px;
    background-color:  #d1496b;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 1em;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fdf7f7;
  padding: 10px 30px;
}
.menu{
  display: flex;
  gap: 60px;
}

#item a{
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  opacity: 0.75;
  position: relative;
  font-size: medium;
}
#item a:hover {
  opacity: 1;
}
#item a::before {
  transition: 300ms;
  height: 2px;
  content: "";
  position: absolute;
  background-color: #031D44;
}
#item a::before {
  width: 0%;
  bottom: -4px;
}
#item a:hover::before {
  width: 100%;
}
.nav_text{
  position: relative;
  left:15px;
  color: black;
  margin-right: auto;
}

.nav_text img{
  height: 45px;
  margin: 0;
  padding: 0;
} 
header{
 display: flex;
 background-color: #d1496b;

}

header .text h2{
  text-align: center;
  margin-right: 100px;
  margin-top: 150px;  
  font-family: "DM Serif Text", serif;

}
.slide{
  width: 650px;
  height: 350px;
  margin-left: 10px;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 20px #d1496b;
  overflow: hidden;
  border: 0px ;
  border-radius: 10px;
}
.slide figure img{
  width: 20%;
  height: 350px;
  float: left;
}
.slide figure{
  position: relative;
  width: 500%;
  margin: 0px;
  left: 0px;
  animation: G7 20s infinite linear;
  text-align: center;
}
footer{
  width: 100%;
  background-color: #d1496b;
  color: #fdf7f7;
  display: flex;
}

.footer_group{
  width: 20%;
  text-align: center;
  padding: 10px;
  align-self: center;
  font-size: 50px;
}

.footer_line{
  width: 1px;
  background-color: #fdf7f7;
  margin: 20px 0px 20px 0px;
}

.contact_head{
  font-size: 18px;
  display: flex;
}

.footer_contact{
  padding: 10px;
  margin: 10px 0px 10px 0px;
  width: 70%;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
}
@keyframes  G7{
  0%{left: 0%;}
  15%{left: 0%;}
  20%{left: -100%;}
  35%{left: -100%;}
  40%{left: -200%;}
  60%{left: -200%;}
  65%{left: -300%;}
  80%{left: -300%;}
  85%{left: -400%;}
  100%{left: -400%;}
}
@media only screen and (min-width: 100px) {
  body{width: auto;}
  nav {
    width: auto;
    text-align: center;
  }
  .nav_text{
    text-align: center;
    margin-right: 15%;
  }
  .menu #item{
    display: inline-table;
    font-size: medium;
    margin-right: 20px;
  }
  header .slide{
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
  header .text h2{
   text-align: center;
   margin-top: auto;
   margin-left: auto;
   margin-right: auto;
  }
  header{
    display: block;
    height: auto;
    width: auto;
  }
  artical{
    text-align: center;
    width: auto;
  }
  h1{
    text-align: center;
    font-size: large;
    margin-left: -200px;
  }
 nav{
  display: block;
 }
 nav .menu{
 font-size: x-large;
  display: block;
 }
 section{
  display: block;
 }
 footer{
  display: block;
  text-align: center;
  width: auto;
  height: auto;
 }
.footer_contact{
  display: block;
}
.footer_group{
  text-align: center;
}
footer .footer_group p{
 display: inline-table;
  justify-content: center;
  text-align: center;
  margin-left: 120px;
  margin-bottom: auto;
  width: auto;
}
.footer_contact .contact_head{
  text-align: center;
  margin-left: 150px;
}
.footer_contact .contact_name{
  text-align: center;
  margin-left: 90px;
}
.footer_contact .contact_email{
  text-align: center;
  margin-left: 90px;
}
}
@media screen and (min-width: 700px) {
  .menu{
    text-align: center;
    font-size: xx-large;
  }
 .nav-text .menu #item{
    text-align: center;
  }
 .nav_text{
    text-align: center;
    margin-right: 2px;
  }
  .menu #item{
    justify-content: space-between;
    display: inline-table;
    text-align: center;
    margin-left: -2px;
  }
  .menu #item a{
    text-align: center;
  }
  header{
    display: flex;
    font-size: xx-large;
    text-align: center;
  }
  header .slide{
    width: 60%;
    margin-left: 5px;
  }
  .text{
    font-size: medium;
    margin-top: 150px;
    margin-right: 25px;
  }
  h1{
    font-size: xx-large;
    margin: 0%;
  }
  header .text .hero-btn{
  margin-left: -1%;
  }
  section .info-box{
   display: block;
    justify-content: center;
    margin-left: 30%;
  }
  footer{
    display: flex;
  }
  .footer_group{
    margin-left: -100px;
  }
  .footer_line{
    margin-left: 130px;
  }
  .footer_contact{
    margin-right: 100px;
  }
}
@media screen and (min-width: 1500px){
  nav{
    display: flex;
  }
  nav .logo{
    text-align: left;
  }
  nav .menu{
    display: flex;
  }
  section{
    display: flex; 
  }
  section .info-box{
    margin-left: -5%;
  }
  .logo{
    margin-left: 1%;
  }
  .slide{
    width: 550px;
    height: 450px;
    margin-left: 10px;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 20px #d1496b;
    overflow: hidden;
    border: 0px ;
    border-radius: 10px;
  }
  .slide figure img{
    width: 20%;
    height: 450px;
    float: left;
  }
  header .text h2{
   font-size: xx-large;
   margin-right: 60px;
  margin-top: 30px;
  }
  footer{
    width: 100%;
    background-color: #d1496b;
    color: #fdf7f7;
    display: flex;
  }
  .footer_group{
    width: 20%;
    text-align: center;
    padding: 10px;
    align-self: center;
    font-size: 50px;
  }
  .footer_group p{
    margin-right: -80px;
    margin-top: -30px;
  }
  .footer_line{
    width: 1px;
    background-color: #fdf7f7;
  }
  .contact_head{
    font-size: 18px;
    display: flex;
  }
  .footer_contact{
    padding: 10px;
   margin-left: -100px;
    width: 70%;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
  }
}