body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdf7f7;
  }
  header {
    background-color: #ff6f61;
    display: flex;
    align-items: center;
   
  }
  header .text{
    font-size: larger;
    color: #333;
    margin-left: 200px; 
  }
  header .text .hero-btn{
    margin-left: 130px;
  }
  header p {
    font-size: 1.2em;
    color: #666;
  }
  .hero-btn {
    padding: 15px 30px;
    background-color: rgba(255, 247, 0, 0.503);
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 1em;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .hero-btn:hover {
    background-color: #ff3d3d;
  }
  section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 20px;
    text-align: center;
    margin: 20px;

  }
  .info-box {
    text-align: center;
    max-width: 300px;
  }
  .info-box img {
    width: 80px;
    margin-bottom: 20px;
  }
  .info-box h3 {
    font-size: 1.5em;
    color: #333;
  }
  .info-box p {
    font-size: 1em;
    color: #666;
  }
  nav{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    text-align: center;

    
}
.menu{
    display: flex;
    flex-direction: row;
}
#item{
    padding:0 15px 0 0;
}
.nav-text{
    padding: 0 0 0 10px;
}
.logo img{
    width: 150px;
    margin-left: 5px;
}
header img{
    width: 30%;
    height: 350px;
    justify-content: flex-start;
    
}
article {
    text-align: center;
}