body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdf7f7;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content:space-between
}
.menu{
    display: flex;
    flex-direction: row;
}
#item{
    padding:0 15px 0 0;
}
.nav-text{
    padding: 0 0 0 10px;
}
.logo img{
    width: 150px;
    margin-left: 5px;
}
.button{
    text-align: center;
    margin-bottom: -50px;
}
.btn {
    padding: 15px 30px;
    background-color:  rgba(255, 208, 0, 0.816);
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn:hover {
    background-color:#333;
}
.header {
    margin-top: 20px;
    width: 100%;  
    height: 200px;  
    background-image: url('https://images.squarespace-cdn.com/content/v1/5f251c861a3dc74c86c18048/1625537875041-87ZZSVD08M4AGACJ19H8/Life%27s+a+Journey+1.jpg?format=2500w'); 
    background-size: cover;  
    background-position: center;  
    display: flex;  
    align-items: center;  
    justify-content: center;  
    color: white;  
    text-align: center;  
    font-size: 36px;  
    font-family: Arial, sans-serif;
    position: relative;  
}
.header::after {
    content: "";  
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);  
    opacity: 0;  
    transition: opacity 0.3s ease;  
}
.header:hover::after {
    opacity: 1;  
}
.header h1 {
    position: relative;  
    z-index: 1;  
}